.creators {
  padding: 5rem 12rem;
}
.creators-sub {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  align-items: center;
}
.corner {
  background-color: $dark-grey;
  border-radius: 50%;
  position: relative;
  padding: 8px 12px;
  bottom: 19rem;
  right: 9rem;
  font-family: "Space Mono", monospace;
}
.creators-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;
}
.creators-card {
  width: 24rem;
  background-color: $light-grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  border-radius: 2rem;
  h4 {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
  }
  span {
    color: #858584;
    padding: 7px 10px;
    font-size: 1.2rem;
  }
  .card-sub {
    font-size: 1.6rem;
  }
  .total-sales {
    font-size: 1.6rem;
  }
}
.trans-btn {
  padding: 1.5rem 5rem;
  display: flex;
  font-size: 1.6rem;
  gap: 1rem;
}
