.discover-container {
  padding: 8rem 2rem;
  .heading {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 3rem 0;
  }
}

.discover-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.discover-card {
  .disc {
    width: 100%;
  }
  .discover-sub {
    background-color: $light-grey;
    padding: 1.5rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  h4 {
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 400;
  }
  h5 {
    font-size: 1.5rem;
    font-family: "Space Mono";
    font-weight: 200;
  }

  .disc-bottom {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .price {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 0 0;
  }
  p {
    font-size: 1.4rem;
    color: grey;
    margin-bottom: 1rem;
    font-family: "Space Mono";
  }
}
h3 {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Space Mono";
}

.highlights-container {
  position: relative;
  height: 80vh;
  width: 100vw;
  background: url("../../assets/svg/magic-mushroom.svg");
  background-position: center;
  background-size: cover;
  .main-img {
    img {
      width: 100%;
    }
  }
  .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(to bottom, #a159ff00, #a259ff);
  }
}
.highlight-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
  padding: 8rem 0;
}
.highlight-content1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.6rem;
  gap: 3rem;
  .badge {
    display: flex;
    background-color: $light-grey;
    border-radius: 2rem;
    align-items: center;
    padding: 0.7rem 2rem;
    gap: 1rem;
  }
  h1 {
    font-size: 5rem;
    font-weight: 600;
  }
  .white-btn {
    background-color: white;
    color: black;
    align-items: center;
    padding: 0.5rem 2rem 0.5rem 1rem;
  }
}
.highlight-content2 {
  background-color: #3b3b3b77;
  padding: 3rem;
  border-radius: 2rem;
  width: 30rem;
  p {
    font-size: 1.2rem;
    font-family: "Space Mono";
    font-weight: 100;
  }
}
.time-container {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  h1 {
    font-size: 4.5rem;
  }
}
