.footer-container {
  padding: 5rem 12rem;
  font-size: 1.6rem;
  font-weight: 300;
  background-color: $light-grey;

  .brand {
    display: flex;
    gap: 1rem;
    h3 {
      font-size: 2rem;
      font-weight: bold;
      font-family: "Space Mono", monospace;
    }
  }
}
.f-content {
  display: flex;
  flex-wrap: wrap;
  p {
    font-weight: 400;
    color: #cccccc;
  }
}
.f-content1 {
  flex: 1 0 30rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.f-content2 {
  display: flex;
  flex-direction: column;
  flex: 1 0 30rem;
  gap: 2rem;
  h3 {
    font-family: "Space Mono", monospace;
    font-size: 2rem;
    font-weight: bold;
  }
}
.f-content3 {
  display: flex;
  flex-direction: column;
  flex: 2 0 20rem;
  gap: 2rem;
  h2 {
    font-family: "Space Mono", monospace;
    font-size: 2rem;
    font-weight: bold;
  }
}
.footer-logos {
  display: flex;
  gap: 1rem;
}
.copyright {
  border-top: 1px solid white;
  margin-top: 2rem;
  padding: 2rem 0;
  color: #cccccc;
  font-size: small;
}
.footer-container {
  .input-wrapper {
    .input-container {
      width: 100%;
    }
  }
}
