$dark-grey: #2b2b2b;
$light-grey: #3b3b3b;
$purple: #a259ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  background-color: $dark-grey;
  color: white;
  font-family: "Work Sans";
  max-width: 1440px;
  margin: 0 auto;
}
//heading/sub texts
.heading {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 3.8rem;
    font-weight: 500;
    padding: 1rem 0;
  }
  p {
    font-size: 2.2rem;
    font-weight: 300;
    padding: 1rem 0;
  }
}
//buttons
.purple-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $purple;
  color: white;
  border: none;
  padding: 1.4rem 2rem;
  border-radius: 1.5rem;
  gap: 1rem;
}
.trans-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $purple;
  padding: 0.8rem 3rem;
  border-radius: 2rem;
  background-color: $dark-grey;
  color: white;
  gap: 1rem;
}

@import "header";
@import "hero";
@import "trending-collection";
@import "creators";
@import "categoriees";
@import "discover";
@import "works";
@import "footer";
@import "responsive";
@import "login";
