@media screen and (width <= 768px) {
  body {
    width: 100%;
  }
  .image-prop {
    width: 100%;
  }
  .sc1 {
    width: 100%;
  }
  .nav-test {
    display: none !important;
  }
  .navbar {
    padding: 4rem;
  }

  // hero section
  .hero-container {
    padding: 3rem;
    justify-content: center;
    margin: 0;
    .hero-content {
      width: 100%;
      h1 {
        font-size: 3rem;
        padding: 0rem 0rem 1rem 0rem;
        font-weight: 500;
      }
      h4 {
        font-size: 2rem;
        padding: 0;
        margin: 2rem 0;
      }
      button {
        margin: 1rem 0;
        padding: 1rem 2rem;
      }
    }
    .hero-content2 {
      gap: 4rem;
      h3 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }

  // trending section
  .card-container {
    justify-content: center;
    gap: 3rem;
  }
  .trending-collection {
    padding: 3rem;
  }
  .trans-btn {
    padding: 0.5rem;
  }

  // creators section
  .creators {
    padding: 4rem;
  }
  .creators-card {
    padding: 3rem 0;
  }
  .creators-container {
    justify-content: center;
  }
  .creators-sub {
    flex-direction: column;
    align-items: flex-start;
    p {
      padding: 1rem 0;
      font-size: 1.5rem;
    }
  }
  // categories section
  .categories-container {
    padding: 4rem;
  }
  .categories-collection {
    justify-content: center;
  }
  //Discover Section
  .discover-container {
    padding: 4rem;
    .heading {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .discover-collection {
    // justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  //highliht section
  .highlight-content {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 2rem 2rem;
  }
  .works-container {
    padding: 4rem;
    .works-card {
      padding: 2rem;
      img {
        height: 15rem;
        width: 15rem;
      }
    }
  }
  .join-container {
    padding: 2rem;
    .join-content {
      h2 {
        padding: 0;
      }
      p {
        padding: 0;
        font-size: 2rem;
      }
    }
  }
  .input-wrapper {
    .input-container {
      font-size: 1.3rem;
      padding: 2rem;
      width: 100%;
    }

    .purple-btn {
      padding: 1.5rem 2rem;
      font-size: 1.6rem;
      right: 0;
      left: 12rem;
    }
  }
  .footer-container {
    padding: 4rem;
    .f-content {
      gap: 3rem;
    }
  }
}
