.trending-collection {
  padding: 0 12rem;
}
.image-prop {
  border-radius: 2rem;
}

.heading {
  padding: 2rem 0;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 4rem;
}
.collection-card {
  .sc1 {
    background-color: #a259ff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 2rem;
  }
  .sub-collection {
    display: flex;
    justify-content: space-evenly;
    margin: 7px 0;
  }
  .sub-collection-card {
    width: 30%;
  }
  .collection-info {
    h3 {
      font-size: 2rem;
      font-weight: 500;
      padding: 2rem 0;
    }
    p {
      font-size: 1.6rem;
    }
  }
  .collection-bottom {
    display: flex;
    align-items: center;
    gap: 1rem;
    p {
      font-size: 1.6rem;
    }
  }
}
