* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  background-color: #2b2b2b;
  color: white;
  font-family: "Work Sans";
  margin: 0 auto;
}

section {
  width: 100%;
  margin-inline: auto;
  max-width: 1440px;
}

.heading {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
}
.heading h3 {
  font-size: 3.8rem;
  font-weight: 500;
  padding: 1rem 0;
}
.heading p {
  font-size: 2.2rem;
  font-weight: 300;
  padding: 1rem 0;
}

.purple-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a259ff;
  color: white;
  border: none;
  padding: 1.4rem 2rem;
  border-radius: 1.5rem;
  gap: 1rem;
  font-family: "Work Sans";
  font-size: 1.6rem;
  font-weight: 500;
}

.trans-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #a259ff;
  padding: 0.8rem 3rem;
  border-radius: 2rem;
  background-color: #2b2b2b;
  color: white;
  gap: 1rem;
}

.navbar {
  padding: 0px 12rem;
  font-size: 1.5rem;
  height: 10vh;
}
.navbar .navbar-wrapper {
  width: 100%;
  margin-inline: auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
}
.navbar a {
  text-decoration: none;
  color: white;
  padding: 2.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.navbar nav {
  display: flex;
}
.navbar .nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hero-container {
  padding: 0px 12rem;
  margin: 9rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5rem;
}
.hero-container .hero-content {
  width: 50%;
}
.hero-container .hero-content h1 {
  font-size: 6.7rem;
  padding: 0rem 11rem 1rem 0rem;
  font-weight: 500;
}
.hero-container .hero-content h4 {
  font-size: 2.2rem;
  font-weight: 300;
  padding: 1rem 12rem 0 0;
  line-height: 3rem;
}
.hero-container .hero-content button {
  margin: 2rem 0;
  padding: 2rem 7rem;
}
.hero-container .hero-content2 {
  display: flex;
  gap: 11rem;
  padding: 1rem 0;
}
.hero-container .hero-content2 h3 {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 2.8rem;
}
.hero-container .hero-content2 p {
  font-size: 2rem;
  font-weight: 300;
}
.hero-container .image-content {
  background-color: #3b3b3b;
  border-radius: 2rem;
  overflow: hidden;
}
.hero-container .image-content .img-container img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.hero-container .image-content2 {
  padding: 0 2.2rem 2rem;
  font-size: 2rem;
}
.hero-container .image-content2 p {
  padding-top: 2rem;
  font-weight: 600;
}
.hero-container .image-content3 {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 0;
}
.hero-container .image-content3 h5 {
  font-size: 1.5rem;
  font-weight: normal;
}

.trending-collection {
  padding: 8rem 12rem;
}

.image-prop {
  border-radius: 2rem;
  width: 100%;
}

.heading {
  margin: 2rem 0;
}
.heading h3 {
  font-family: "Work Sans";
  font-weight: 500;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 4rem;
}

.collection-card {
  width: 30%;
}
.collection-card .sc1 {
  background-color: #a259ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Space Mono";
  border-radius: 2rem;
}
.collection-card .sub-collection {
  display: flex;
  justify-content: space-between;
  margin: 7px 0;
}
.collection-card .sub-collection-card {
  width: 30%;
}
.collection-card .collection-info h3 {
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem 0;
}
.collection-card .collection-info p {
  font-size: 1.6rem;
}
.collection-card .collection-bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.collection-card .collection-bottom p {
  font-size: 1.6rem;
}

.creators {
  padding: 5rem 12rem;
}

.creators-sub {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  align-items: center;
}

.corner {
  background-color: #2b2b2b;
  border-radius: 50%;
  position: absolute;
  padding: 8px 12px;
  left: 2rem;
  top: 2rem;
  font-family: "Space Mono", monospace;
}

.creators-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;
}

.creators-card {
  width: 27rem;
  background-color: #3b3b3b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border-radius: 2rem;
  position: relative;
}
.creators-card img {
  margin-bottom: 2rem;
}

h4 {
  font-size: 2.2rem;
  font-weight: 600;
}

span {
  color: #969696;
  padding: 7px 10px;
  font-size: 1.2rem;
  font-weight: 300;
}

.card-sub {
  font-size: 1.6rem;
  padding: 1.5rem 0 0;
  font-family: "Space Mono";
}

.total-sales {
  font-family: "Work Sans";
  font-size: 1.6rem;
}

.trans-btn {
  padding: 0.7rem 4rem 0.7rem 3rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans";
}

.categories-container {
  padding: 4rem 12rem;
}
.categories-container h4 {
  font-size: 3.8rem;
  font-weight: 500;
  padding: 2rem 0;
}
.categories-container .categories-heading {
  margin: 2rem 0;
}

.categories-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories-card {
  margin: 1rem 0;
  position: relative;
}
.categories-card .cat-icon {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  transition: 0.1s ease;
}
.categories-card .subText p {
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #3b3b3b;
  border-radius: 0 0 2rem 2rem;
  padding: 2rem;
}

.categories-card:hover {
  cursor: pointer;
}
.categories-card:hover .cat-bg-img {
  filter: blur(3px);
}
.categories-card:hover .cat-icon {
  opacity: 1;
}

.discover-container {
  padding: 8rem 2rem;
}
.discover-container .heading {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 3rem 0;
}

.discover-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.discover-card .disc {
  width: 100%;
}
.discover-card .discover-sub {
  background-color: #3b3b3b;
  padding: 1.5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.discover-card h4 {
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: 400;
}
.discover-card h5 {
  font-size: 1.5rem;
  font-family: "Space Mono";
  font-weight: 200;
}
.discover-card .disc-bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.discover-card .price {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 0 0;
}
.discover-card p {
  font-size: 1.4rem;
  color: grey;
  margin-bottom: 1rem;
  font-family: "Space Mono";
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Space Mono";
}

.highlights-container {
  position: relative;
  height: 80vh;
  width: 100vw;
  background: url("../../assets/svg/magic-mushroom.svg");
  background-position: center;
  background-size: cover;
}
.highlights-container .main-img img {
  width: 100%;
}
.highlights-container .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(to bottom, rgba(161, 89, 255, 0), #a259ff);
}

.highlight-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
  padding: 8rem 0;
}

.highlight-content1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.6rem;
  gap: 3rem;
}
.highlight-content1 .badge {
  display: flex;
  background-color: #3b3b3b;
  border-radius: 2rem;
  align-items: center;
  padding: 0.7rem 2rem;
  gap: 1rem;
}
.highlight-content1 h1 {
  font-size: 5rem;
  font-weight: 600;
}
.highlight-content1 .white-btn {
  background-color: white;
  color: black;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 1rem;
}

.highlight-content2 {
  background-color: rgba(59, 59, 59, 0.4666666667);
  padding: 3rem;
  border-radius: 2rem;
  width: 30rem;
}
.highlight-content2 p {
  font-size: 1.2rem;
  font-family: "Space Mono";
  font-weight: 100;
}

.time-container {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}
.time-container h1 {
  font-size: 4.5rem;
}

.works-container {
  padding: 0px 12rem;
}
.works-container .works-heading {
  padding: 3rem 0;
}
.works-container .works-heading h1 {
  font-size: 3.5rem;
  padding: 2rem 0;
  font-weight: 500;
}
.works-container .works-heading p {
  font-size: 2.2rem;
  padding: 0 0 2rem 0;
}

.works-collection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.works-card {
  padding: 4rem 5rem 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3b3b3b;
  border-radius: 2rem;
  flex: 1 0 15rem;
}
.works-card h3 {
  font-size: 2.2rem;
  padding: 3rem 0 1rem;
  text-align: center;
  font-family: "Work Sans";
  font-weight: 500;
}
.works-card p {
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem 0.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.join-container {
  background-color: #3b3b3b;
  margin: 4rem 0;
  padding: 5rem;
  border-radius: 2rem;
  display: flex;
  gap: 10rem;
  flex-wrap: wrap;
}
.join-container p {
  font-size: 2.2rem;
  font-weight: 300;
  padding: 0 10rem 0 0;
}
.join-container img {
  width: 100%;
  flex: 1 0 20rem;
}
.join-container .join-content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 20rem;
  gap: 4rem;
}
.join-container .join-content1 h2 {
  font-size: 3.8rem;
  font-weight: 500;
  padding-right: 11rem;
}

.input-wrapper {
  width: 100%;
  border-radius: 2rem;
  display: flex;
  position: relative;
}
.input-wrapper .input-container {
  width: 80%;
  padding: 2rem 0 1.8rem 3rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  font-size: 1.8rem;
}
.input-wrapper ::placeholder {
  color: black;
}
.input-wrapper .purple-btn {
  position: absolute;
  right: 0rem;
  border-radius: 2rem;
  height: 100%;
  padding: 3rem 4rem;
  font-size: 1.8rem;
}

.footer-container {
  padding: 5rem 12rem;
  font-size: 1.6rem;
  font-weight: 300;
  background-color: #3b3b3b;
}
.footer-container .brand {
  display: flex;
  gap: 1rem;
}
.footer-container .brand h3 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Space Mono", monospace;
}

.f-content {
  display: flex;
  flex-wrap: wrap;
}
.f-content p {
  font-weight: 400;
  color: #cccccc;
}

.f-content1 {
  flex: 1 0 30rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.f-content2 {
  display: flex;
  flex-direction: column;
  flex: 1 0 30rem;
  gap: 2rem;
}
.f-content2 h3 {
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  font-weight: bold;
}

.f-content3 {
  display: flex;
  flex-direction: column;
  flex: 2 0 20rem;
  gap: 2rem;
}
.f-content3 h2 {
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  font-weight: bold;
}

.footer-logos {
  display: flex;
  gap: 1rem;
}

.copyright {
  border-top: 1px solid white;
  margin-top: 2rem;
  padding: 2rem 0;
  color: #cccccc;
  font-size: small;
}

.footer-container .input-wrapper .input-container {
  width: 100%;
}

@media screen and (width <= 768px) {
  body {
    width: 100%;
  }
  .image-prop {
    width: 100%;
  }
  .sc1 {
    width: 100%;
  }
  .nav-test {
    display: none !important;
  }
  .navbar {
    padding: 2rem 0 4rem 0;
  }
  .hero-container {
    padding: 3rem;
    justify-content: center;
    margin: 0;
  }
  .hero-container .hero-content {
    width: 100%;
  }
  .hero-container .hero-content h1 {
    font-size: 3rem;
    padding: 0rem 0rem 1rem 0rem;
    font-weight: 500;
  }
  .hero-container .hero-content h4 {
    font-size: 2rem;
    padding: 0;
    margin: 2rem 0;
  }
  .hero-container .hero-content button {
    margin: 1rem 0;
    padding: 1rem 2rem;
  }
  .hero-container .hero-content2 {
    gap: 4rem;
  }
  .hero-container .hero-content2 h3 {
    font-size: 1.8rem;
  }
  .hero-container .hero-content2 p {
    font-size: 1rem;
  }
  .card-container {
    justify-content: center;
    gap: 3rem;
  }
  .collection-card {
    width: 100%;
  }
  .trending-collection {
    padding: 3rem;
  }
  .trans-btn {
    padding: 0.5rem;
  }
  .creators {
    padding: 4rem;
  }
  .creators-card {
    padding: 3rem 0;
  }
  .creators-container {
    justify-content: center;
  }
  .creators-sub {
    flex-direction: column;
    align-items: flex-start;
  }
  .creators-sub p {
    padding: 1rem 0;
    font-size: 1.5rem;
  }
  .categories-container {
    padding: 4rem;
  }
  .categories-collection {
    justify-content: center;
  }
  .discover-container {
    padding: 4rem;
  }
  .discover-container .heading {
    flex-direction: column;
    align-items: flex-start;
  }
  .discover-collection {
    align-items: center;
    gap: 2rem;
  }
  .highlight-content {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 2rem 2rem;
  }
  .works-container {
    padding: 4rem;
  }
  .works-container .works-card {
    padding: 2rem;
  }
  .works-container .works-card img {
    height: 15rem;
    width: 15rem;
  }
  .join-container {
    padding: 2rem;
  }
  .join-container .join-content1 h2 {
    padding: 0;
  }
  .join-container .join-content1 p {
    padding: 0;
    font-size: 2rem;
  }
  .input-wrapper {
    flex-direction: column;
  }
  .input-wrapper .input-container {
    font-size: 1.3rem;
    padding: 2rem;
    width: 100%;
  }
  .input-wrapper .purple-btn {
    position: static;
    padding: 1rem;
    margin-top: 2rem;
  }
  .footer-container {
    padding: 4rem;
  }
  .footer-container .f-content {
    gap: 3rem;
  }
  .footer-container .purple-btn {
    padding: 1.7rem 0rem;
  }
}
.login-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 100vh;
  overflow: hidden;
}

.img-container {
  flex: 2 0 40rem;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  object-fit: cover;
}
.img-container img {
  height: 100vh;
  object-fit: cover;
}

form {
  flex: 1 0 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
